.ClientDisplayClasses {
  .ClientDisplayClasses-wrapper {
    .SingleClass {
      width: 550px;
      .SingleClass-img {
        img {
          width: 100%;
          height: 400px;
          object-fit: cover;
        }
      }
    }
  }
}
